<div id="wrapper">
  <div id="content">
    <ul id="tab" class="clearfix">
      <li class="page_item current_page_item"><a href="http://demo.templatic.com/answers/?ptype=latest">Recent</a></li>
      <li class="page_item "><a href="http://demo.templatic.com/answers/?ptype=popular">Most Responses</a></li>
      <li class="page_item "><a href="http://demo.templatic.com/answers/?ptype=unanswered">Unanswered</a></li>
      <li class="page_item "><a href="http://demo.templatic.com/answers/?ptype=answers">Recently Answered</a></li>
    </ul>
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/652995651088-2/#commentarea">0 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/652995651088-2/" rel="bookmark" title="Permanent Link to 652995651088">652995651088</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/testtt/" title="Posts by testtt" rel="author">testtt</a></strong> </span>
        <span class="views"><b>411 </b> views </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/uncategorized/" rel="category tag">Uncategorized</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/where-can-i-find-a-good-free-work-out/#commentarea">5 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/where-can-i-find-a-good-free-work-out/" rel="bookmark" title="Permanent Link to Where can i find a good free work out">Where can i find a good free work out</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/johan-offer/" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
        <span class="views"><b>2510 </b> views </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/what-does-memorial-day-mean-to-you/#commentarea">7 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/what-does-memorial-day-mean-to-you/" rel="bookmark" title="Permanent Link to What does memorial day mean to you">What does memorial day mean to you</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/joseph/" title="Posts by joseph" rel="author">joseph</a></strong> </span>
        <span class="views"><b>1105 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/memorial-day/" rel="tag">memorial day</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/wordpress-themes-club/#commentarea">6 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/wordpress-themes-club/" rel="bookmark" title="Permanent Link to WordPress Themes Club">WordPress Themes Club</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/johan-offer/" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
        <span class="views"><b>552 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/screamo/" rel="tag">screamo</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/how-long-can-you-be-away-from-home-before-reported-as-a-runaway/#commentarea">5 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/how-long-can-you-be-away-from-home-before-reported-as-a-runaway/" rel="bookmark" title="Permanent Link to How long can you be away from home before reported as a runaway">How long can you be away from home before reported as a runaway</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/rajesh/" title="Posts by Stephanie West" rel="author">Stephanie West</a></strong> </span>
        <span class="views"><b>512 </b> views </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/why-am-i-created-like-this-flat-and-skinny/#commentarea">7 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/why-am-i-created-like-this-flat-and-skinny/" rel="bookmark" title="Permanent Link to Why am i created like this, flat and skinny">Why am i created like this, flat and skinny</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/joseph/" title="Posts by joseph" rel="author">joseph</a></strong> </span>
        <span class="views"><b>408 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/flat-and-skinny/" rel="tag">flat and skinny</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/how-do-i-go-from-looking-like-a-emo-to-a-girly-girl/#commentarea">7 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/how-do-i-go-from-looking-like-a-emo-to-a-girly-girl/" rel="bookmark" title="Permanent Link to How do i go from looking like a emo to a girly girl">How do i go from looking like a emo to a girly girl</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/joseph/" title="Posts by joseph" rel="author">joseph</a></strong> </span>
        <span class="views"><b>344 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/girly-girl/" rel="tag">girly girl</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/why-cant-i-get-a-date/#commentarea">5 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/why-cant-i-get-a-date/" rel="bookmark" title="Permanent Link to Why cant i get a date">Why cant i get a date</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/johan-offer/" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
        <span class="views"><b>205 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/date/" rel="tag">date</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/what-age-do-you-have-to-be-to-get-a-nose-job/#commentarea">6 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/what-age-do-you-have-to-be-to-get-a-nose-job/" rel="bookmark" title="Permanent Link to What age do you have to be to get a nose job">What age do you have to be to get a nose job</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/harry/" title="Posts by Jeniffer" rel="author">Jeniffer</a></strong> </span>
        <span class="views"><b>260 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/job/" rel="tag">job</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/what-do-you-guys-think/#commentarea">5 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/what-do-you-guys-think/" rel="bookmark" title="Permanent Link to What do you guys think">What do you guys think</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/joseph/" title="Posts by joseph" rel="author">joseph</a></strong> </span>
        <span class="views"><b>202 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/guys-think/" rel="tag">guys think</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/how-do-i-get-rid-of-a-pimple-in-24-hours/#commentarea">5 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/how-do-i-get-rid-of-a-pimple-in-24-hours/" rel="bookmark" title="Permanent Link to How do i get rid of a pimple in 24 hours">How do i get rid of a pimple in 24 hours</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/rajesh/" title="Posts by Stephanie West" rel="author">Stephanie West</a></strong> </span>
        <span class="views"><b>342 </b> views </span>
        <span class="ptags"><a href="https://demo.templatic.com/answers/tag/pimple/" rel="tag">pimple</a><br> </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="question_list">
      <span class="answers_total">
      <a href="https://demo.templatic.com/answers/what-should-i-put-on-these-shorts/#commentarea">7 </a>   Answers
      </span>
      <h3> <a href="https://demo.templatic.com/answers/what-should-i-put-on-these-shorts/" rel="bookmark" title="Permanent Link to What should i put on these shorts">What should i put on these shorts</a></h3>
      <p> <span class="user">Asked by: <strong><a href="https://demo.templatic.com/answers/author/harry/" title="Posts by Jeniffer" rel="author">Jeniffer</a></strong> </span>
        <span class="views"><b>218 </b> views </span>
        <span class="pcate">  <a href="https://demo.templatic.com/answers/category/questions/" rel="category tag">Questions</a> </span>
      </p>
    </div>
    <!-- question #end -->
    <div class="pagination">
      <div class="Navi"><strong class="on">1</strong> <a href="https://demo.templatic.com/answers/page/2/">2</a> <a href="https://demo.templatic.com/answers/page/2/"><strong>»</strong></a></div>
    </div>
  </div>
  <!-- content #end -->
  <div id="sidebar" class="sidebar_spacer">
    <a href="http://demo.templatic.com/answers?ptype=ask-a-question" class="b_askquestions">Ask a Question</a>
    <div class="widget login_widget">
      <h3>Login </h3>
      <form name="loginform" id="loginform" action="http://demo.templatic.com/answers/index.php?ptype=login" method="post">
        <div class="form_row"><label>User Name  <span>*</span></label>  <input name="log" id="user_login1" type="text" class="textfield"> <span id="user_loginInfo"></span> </div>
        <div class="form_row"><label>Password  <span>*</span></label>  <input name="pwd" id="user_pass1" type="password" class="textfield"><span id="user_passInfo"></span>  </div>
        <input type="hidden" name="redirect_to" value="http://templatic.com/wordpress-themes-store/">
        <input type="hidden" name="testcookie" value="1">
        <input type="submit" name="submit" value="Sign In" class="btn_input_highlight">
      </form>
    </div>
    <div class="widget">
    </div>
    <div class="widget">
      <h3>Categories</h3>
      <ul>
        <li class="cat-item cat-item-2"><a href="https://demo.templatic.com/answers/category/blog/">Blog</a> (4)</li>
        <li class="cat-item cat-item-5"><a href="https://demo.templatic.com/answers/category/questions/">Questions</a> (19)</li>
        <li class="cat-item cat-item-1"><a href="https://demo.templatic.com/answers/category/uncategorized/">Uncategorized</a> (1)</li>
      </ul>
    </div>
    <div class="widget">
      <form role="search" method="get" id="searchform" class="searchform" action="https://demo.templatic.com/answers/">
        <div>
          <label class="screen-reader-text" for="s">Search for:</label>
          <input type="text" value="" name="s" id="s">
          <input type="submit" id="searchsubmit" value="Search">
        </div>
      </form>
    </div>
    <div class="widget">
      <h3 class="clearfix"><span class="fl">Top Users</span><span class="fr point">Point</span></h3>
      <ul class="topusers">
        <li class="clearfix">
          <div class="user-details">
            <div class="user-pic">
              <a href="https://demo.templatic.com/answers/author/satyajit/">
              <img name="user_photo" class="agent_photo" id="user_photo" src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/avatar_post.png" width="64" height="64">                </a>
            </div>
            <div class="user-info">
              <span class="points">894</span>
              <span class="users">
              <a href="https://demo.templatic.com/answers/author/satyajit/">SATYAJIT</a>
              </span>
              <span class="user-answers">
              <label class="label-col">Total Answers:</label>10               </span>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="user-details">
            <div class="user-pic">
              <a href="https://demo.templatic.com/answers/author/rajesh/">
              <img name="user_photo" class="agent_photo" id="user_photo" src="https://demo.templatic.com/answers/wp-content/uploads/users/20161213110410_janiffer-150X150.jpg" width="64" height="64">                </a>
            </div>
            <div class="user-info">
              <span class="points">368</span>
              <span class="users">
              <a href="https://demo.templatic.com/answers/author/rajesh/">Stephanie West</a>
              </span>
              <span class="user-answers">
              <label class="label-col">Total Answers:</label>1                </span>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="user-details">
            <div class="user-pic">
              <a href="https://demo.templatic.com/answers/author/arora/">
              <img name="user_photo" class="agent_photo" id="user_photo" src="http://demo.templatic.com/splendor/../images//testimony-image-3.jpg" width="64" height="64">                </a>
            </div>
            <div class="user-info">
              <span class="points">156</span>
              <span class="users">
              <a href="https://demo.templatic.com/answers/author/arora/">Arora</a>
              </span>
              <span class="user-answers">
              <label class="label-col">Total Answers:</label>1                </span>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="user-details">
            <div class="user-pic">
              <a href="https://demo.templatic.com/answers/author/johan-offer/">
              <img name="user_photo" class="agent_photo" id="user_photo" src="http://demo.templatic.com/splendor/../images//testimony-image-1.jpg" width="64" height="64">                </a>
            </div>
            <div class="user-info">
              <span class="points">17</span>
              <span class="users">
              <a href="https://demo.templatic.com/answers/author/johan-offer/">Russell West</a>
              </span>
              <span class="user-answers">
              <label class="label-col">Total Answers:</label>1                </span>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="user-details">
            <div class="user-pic">
              <a href="https://demo.templatic.com/answers/author/ragv/">
              <img name="user_photo" class="agent_photo" id="user_photo" src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/avatar_post.png" width="64" height="64">                </a>
            </div>
            <div class="user-info">
              <span class="points">0</span>
              <span class="users">
              <a href="https://demo.templatic.com/answers/author/ragv/">ragv</a>
              </span>
              <span class="user-answers">
              <label class="label-col">Total Answers:</label>1                </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- sidebar #end -->
</div>
<!-- wrapper #end -->
