<div class="col-md-2 col-sm-8 col-xs-5 qa-tabs-title">
  <h2><%= pluralize answers.total_count, "Answer" %></h2>
</div>
<div class="sub-tabs sub-tabs-answers">
  <ul class="nav nav-tabs qa-nav-tabs-right">
    <li class="menu-second-top-nav newest">
      <%= link_to "newest", answers_user_path(user, sort: :newest, course_id: course), remote: true %>
    </li>
    <li class="menu-second-top-nav votest active">
      <%= link_to "votes", answers_user_path(user, sort: :votest, course_id: course), remote: true %>
    </li>
  </ul>

  <div class="tab-content activity-sub-content-answers">
    <%= render partial: "activity_content", locals: {object_name: "answer", objects: answers, sort: :votes, course: course} %>
  </div>
</div>
