<div class="col-md-2 col-sm-8 col-xs-5 qa-tabs-title">
  <h2><%= pluralize tags.total_count, "Tag" %></h2>
</div>
<div class="sub-tabs sub-tabs-tags">
  <ul class="nav nav-tabs qa-nav-tabs-right">
    <li class="menu-second-top-nav votest">
      <%= link_to "votes", tags_user_path(user, sort: :votest, course_id: course), remote: true %>
    </li>
    <li class="menu-second-top-nav name active">
      <%= link_to "name", tags_user_path(user, sort: :name, course_id: course), remote: true %>
    </li>
  </ul>

  <div class="tab-content activity-sub-content-tags">
  </div>
</div>
