<div id="qa-q-answer" class="collapse">
  <div class="qa-part-form">
  <h2>Your answer</h2>
  <%= form_with scope: :answer, url: question_answers_path(question), remote: true do |f| %>
    <div class="qa-c-errors"></div>
    <div class="form-group">
      <%= f.text_area :body, class: "ckeditor" %>
    </div>
    <%= f.submit "Add answer", class: "btn btn-info" %>
    <%= button_tag "Cancel", data: {toggle: :collapse, target: "#qa-q-answer"}, type: :button, class: "btn btn-default btn-cancel" %>
  <% end %>
  </div>
</div>
