default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  database: <%= ENV["DATABASE_NAME"] %>
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default

test:
  <<: *default
  database: <%= ENV["DATABASE_NAME_TEST"] %>

staging:
  <<: *default

production:
  <<: *default
