<div class="tag-content">
  <div class="tag col-md-3 col-sm-3 col-xs-6">
    <%= link_to tag.name, tagged_questions_path(tag.name, course_id: course), class: "qa-tag-link" %>
    <span>x <%= tag.tag_count.to_i %></span>
  </div>
</div>
