<div class="qa-sidepanel" id="qam-sidepanel-mobile">
  <div class="qam-search turquoise ">
    <div class="qa-search">
      <form method="get" action="./search">
        <input type="text" name="q" value="" class="qa-search-field">
        <input type="submit" value="Search" class="">
      </form>
    </div>
  </div>
  <div class="qa-nav-cat">
    <ul class="qa-nav-cat-list qa-nav-cat-list-1">
      <li class="qa-nav-cat-item qa-nav-cat-all">
        <a href="./" class="qa-nav-cat-link qa-nav-cat-selected">All categories</a>
      </li>
      <li class="qa-nav-cat-item qa-nav-cat-core">
        <a href="./core" class="qa-nav-cat-link" title="Questions about the Question2Answer platform.">Q2A Core</a>
        <span class="qa-nav-cat-note">(9,397)</span>
      </li>
      <li class="qa-nav-cat-item qa-nav-cat-plugins">
        <a href="./plugins" class="qa-nav-cat-link" title="Questions about plugins created for Q2A.">Plugins</a>
        <span class="qa-nav-cat-note">(2,748)</span>
      </li>
      <li class="qa-nav-cat-item qa-nav-cat-themes">
        <a href="./themes" class="qa-nav-cat-link" title="Questions about third-party themes.">Themes</a>
        <span class="qa-nav-cat-note">(561)</span>
      </li>
    </ul>
    <div class="qa-nav-cat-clear">
    </div>
  </div>
  <div class="qa-widgets-side qa-widgets-side-low">
    <div class="qa-widget-side qa-widget-side-low">
      <h2 style="margin-top: 0; padding-top: 0;">Most popular tags</h2>
      <div style="font-size: 10px;">
      </div>
    </div>
    <div class="qa-widget-side qa-widget-side-low">
      <div class="qa-activity-count">
        <p class="qa-activity-count-item">
          <span class="qa-activity-count-data">12,706</span> questions
        </p>
        <p class="qa-activity-count-item">
          <span class="qa-activity-count-data">13,047</span> answers
        </p>
        <p class="qa-activity-count-item">
          <span class="qa-activity-count-data">25,525</span> comments
        </p>
        <p class="qa-activity-count-item">
          <span class="qa-activity-count-data">17,136</span> users
        </p>
      </div>
    </div>
  </div>
  <div class="qa-feed">
    <a href="./feed/qa.rss" class="qa-feed-link">Recent questions and answers</a>
  </div>
</div>
