<span class="qa-a-item-avatar-meta">
  <span class="qa-a-item-avatar">
    <a href="../user/Zeeshan" class="qa-avatar-link"></a>
  </span>
  <span class="qa-a-item-meta">
    <%= link_to "answered", question_path(question, anchor: "answer-#{answer.id}") %>
    <span class="qa-a-item-when">
      <span class="qa-a-item-when-data">
        <span class="published updated">
          <%= content_tag :span, title: answer.created_at, class: "value-title" do %>
            <%= time_ago_in_words answer.created_at %>
          <% end %>
        </span>
      </span>
      <span class="qa-a-item-when-pad"> ago</span>
    </span>
    <span class="qa-a-item-who">
      <span class="qa-a-item-who-pad">by </span>
      <span class="qa-a-item-who-data">
        <span class="vcard author">
          <%= link_to answer.owner_user.name, user_path(answer.owner_user) %>
        </span>
      </span>
    </span>
  </span>
</span>
