<div class="qa-a-list-item">
  <%= render partial: "vote", locals: {post: answer} %>
  <div class="qa-a-item-main">
    <%= render partial: "answer_header", locals: {answer: answer, question: question} %>
    <div class="qa-a-item-content">
      <div class="entry-content"><%= answer.body %></div>
    </div>
    <div class="qa-a-item-buttons">
    </div>
    <div class="qa-a-item-c-list" style="display:none;" id="c62937_list">
    </div>
    <div class="qa-c-form" id="c62937" style="display:none;">
    </div>
  </div>
  <div class="qa-a-item-clear">
  </div>
</div>
