<div class="qa-sidepanel" id="qam-sidepanel-mobile">
  <div class="qa-sidebar wet-asphalt">
    <div>
      Welcome to the Q&ampA site for <%= link_to "QA", root_path %>
      <br><br>
      If you have a question about Q2A, please <%= link_to "ask", new_question_path %>.
    </div>
  </div>
  <div class="qa-widgets-side qa-widgets-side-high">
    <div class="qa-widget-side qa-widget-side-high">
      <div class="qa-related-qs">
        <h2>Related questions</h2>
        <ul class="qa-related-q-list">
          <%= render partial: "related_question", collection: related_questions, as: :question %>
        </ul>
      </div>
    </div>
  </div>
</div>
