<div class="qa-voting qa-voting-net">
  <div class="qa-vote-buttons qa-vote-buttons-net"></div>
  <div class="qa-vote-count qa-vote-count-net">
    <span class="qa-netvote-count">
      <span class="qa-netvote-count-data">
        <%= post.vote_count.to_i %>
      </span>
    </span>
  </div>
  <div class="qa-vote-clear">
  </div>
</div>
