$athens-gray-color: #f1f4f6;
$black-color: #000;
$black-squeeze-color: #f4f8fb;
$blue-bayoux-color: #445f7a;
$blue-color: #00f;
$danube-color: #5488c7;
$dusty-gray: #9b9b9b;
$gray-medium-light: #eaeaea;
$iron-color: #e4e6e8;
$porcelain-color: #ecf0f1;
$red-color: #f00;
$silver-chalice-color: #aaa;
$silver-color: #cdcdcd;
$turquoise-color: #4ae4bf;
$viking-color: #55cbe1;
$waikawa-gray-color: #5a738e;
$white-color: #fff;
