@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

.nav-tab-bound {
  width: 74.5%;
}

.qa-nav-tabs-right > li {
  float: right !important;
  margin-bottom: -1px;
}

.tag {
  padding: 25px;
}

.singup-main {
  margin: 0 auto;
  max-width: 320px;
}

.login-or {
  margin-bottom: 10px;
  color: $silver-chalice-color;
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.span-or {
  background-color: $white-color;
  display: block;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 50px;
}

.hr-or {
  background-color: $silver-color;
  height: 1px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

h3 {
  line-height: 300%;
  text-align: center;
}

.body-content,
.qa-navbar {
  background-color: $white-color !important;
}

.qa-content-wrapper {
  padding-top: 80px;
}

.qa-q-list-item, .qa-clearfix, .qa-a-list-item {
  border-bottom: 1px solid $iron-color
}

#error_explanation {
  color: $red-color;

  ul {
    list-style-type: disc;
    margin: 0 0 18px;
  }
}

@media only screen and (max-width: 678px) {
  .menu-second-top-nav{
    width: 100%;
  }

  .menu-second-top-nav > a{
    width: 140%;
  }

  .nav-tabs > li {
    float: left !important;
    margin-bottom: -1px;
  }

  .icon {
    display: block !important;
  }
}

.qa-tabs-title > h2 {
  margin-top: 10px;
}

.qa-q-tabs-title > h2 {
  margin-top: 10px;
}

@media only screen and (max-width: 991px) {
  .qa-q-tabs-title > h2 {
    margin-top: -7px;
  }
}

.btn-cancel {
  margin-top: 5px;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.qa-footer {
  padding: 26px !important;
}
