@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';
@import 'responsive';

.nav-tab-bound {
  width: 74.5%;
}

.qa-nav-tabs-right > li {
  float: right !important;
  margin-bottom: -1px;
}

.tag {
  padding: 25px 25px 25px 0;
}

.user-tag {
  padding: 10px 10px 0px 0;
}

.singup-main {
  margin: 0 auto;
  max-width: 320px;
}

h3 {
  line-height: 300%;
  text-align: center;
}

.body-content,
.qa-navbar {
  background-color: $white-color !important;
}

.qa-content-wrapper {
  min-height: 970px;
  padding-top: 80px;
}

.qa-q-list-item,
.qa-clearfix,
.qa-a-list-item {
  border-bottom: 1px solid $iron-color;
}

#error_explanation {
  color: $red-color;

  ul {
    list-style-type: disc;
    margin: 0 0 18px;
  }
}

.qa-tabs-title > h2 {
  margin-top: 10px;
}

.qa-q-tabs-title > h2 {
  margin-top: 10px;
}

.btn-cancel {
  margin-top: 5px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.user-avatar,
.qa-icon {
  img {
    width: 35px;
  }
}

.sub-tabs {
  margin-top: 30px;
}

.activity-vote-btn > .btn {
  color: $white-color;
  padding: 3px 16px;
}

.qa-activity-view-count {
  background-color: $porcelain-color !important;

  .qa-activity-view-count-data,
  .qa-activity-view-count-pad {
    color: $blue-bayoux-color !important;
  }
}

.qa-q-view-avatar {
  .qa-avatar-image {
    width: 50px;
  }
}

.qa-q-item-avatar,
.qa-c-item-avatar {
  .qa-avatar-image {
    width: 20px;
  }
}

.qa-a-item-avatar {
  .qa-avatar-image {
    width: 40px;
  }
}

.qa-form-tall-image,
.edit-profile {
  .qa-avatar-image {
    width: 100px;
  }
}

.edit-profile-content {
  padding-top: 25px;
}

.widget-ratings {
  height: 100%;
}

.qa-voting-net {
  text-align: center;

  a {
    display: block;
  }

  .points {
    font-size: 20px;
  }
}

.voting i {
  color: $dusty-gray;
  font-size: 40px !important;
}

.voting-color i {
  color: $blue-color;
}

.user-info {
  height: 80px;
  padding: 5px 6px 7px 7px;
}

.user-hover:hover {
  background-color: $black-squeeze-color;
}

.user-gravatar48 {
  box-shadow: 2px 2px 4px;
  float: left;
  width: 48px;

  .qa-avatar-image {
    width: 48px;
  }
}

.user-detail {
  float: left;
  margin-left: 9px;
  width: calc(100% - 64px);
}

.user-tags {
  clear: both;
  font-size: 12px;
  margin-left: 57px;
}

.-flair {
  margin-bottom: 4px;
}

.userfilter-content {
  margin: 10px 0;

  .userfilter-label {
    padding-left: 0;
  }
}

[class^="qa-part-form"] {
  padding-left: 0 !important;
}

.navbar-right {
  margin-right: 0
}

.navbar-collapse {
  width: 100%;
}

.dropdown-menu-notification {
  min-width: 25rem;
  padding: 0;
}

.noti-number {
  font-size: 0.45em;
  left: 11px;
  padding: 3px;
  position: absolute;
  top: 1px;
}

.nav-user,
.avt-ctn {
  img {
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    width: 35px;
  }
}

.nav-item {
  margin-left: 1rem;
}

.nav-icon {
  color: $dusty-gray;
  font-size: 1.8em;
}

.dropdown-title-notification {
  align-items: center;
  border-bottom: 1px solid $iron-color;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.dropdown-container-notification {
  max-height: 20rem;
  overflow-y: auto;
}

.bg-highlight {
  background-color: rgba(75,205,159,.15) !important;
}

.notification-card:hover {
  background-color: $athens-gray-color;
}

.notification-card {
  display: flex;
  white-space: normal;
  align-items: center;
  border-bottom: 1px solid $iron-color;
  cursor: pointer;
  word-break: break-word;
  background-color: $white-color;

  .avt-ctn {
    min-width: 2.5rem;
    margin: .5rem;
    margin-right: .7rem;
  }

  .message {
    color: inherit;
    text-decoration: inherit;
    font-size: .75rem;
    display: block;
    width: 100%;
    padding: .5rem;
    padding-left: 0;

    b {
      color: $danube-color;
    }
  }
}

.dropdown-footer-notification {
  align-items: center;
  border-top: 1px solid $iron-color;
  display: flex;
  font-size: .75rem;
  justify-content: flex-end;
  padding: .5rem;
}

.course {
  .course-body {
    padding-bottom: 0;
    padding-right: 0;
  }
}

.section-title-line {
  display: flex;
}

.filler-line {
  border-color: $iron-color;
  flex-grow: 1;
}

.qa-widget-side {
  padding: 40px 20px 0 0 !important;
}

.qa-sidepanel {
  padding-left: 15px !important;
}

.sidebar-box-links {
  border-top: 1px solid $iron-color;
  padding-top: 5px;
}

.user-courses-box {
  margin-bottom: 10px;
}

$timing: 1.5s;
$easing: cubic-bezier(.190, 1, .220, 1);

svg {
  display: block;
  height: 45px;
  margin: 0 auto;
  width: 45px;
}

.check-icon-toggle {
  border-radius: 100%;
  cursor: pointer;
  display: table;
  transition: background .3s cubic-bezier(.455, .030, .515, .955);
  width: 45px;
}

.check-open {
  background: $turquoise-color;
}

.tick {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

.check-open .retract {
  animation: retract $timing $easing forwards 1;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}

.check-open .tick {
  animation: dash $timing $easing forwards 1;
}

@keyframes dash {
  from {
    stroke-dashoffset: 44;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes retract {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 20;
  }
}

.contributor-list-box {
  padding-right: 30px;
}

.contributor-list-title {
  color: $silver-chalice-color;
  font-size: 12px;
  margin-bottom: 20px;
}

.contributor-list-item-box {
  height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 8px;
}

.contributor-list-item {
  height: 26px;
  margin-bottom: 8px;
}

.contributor-list-pic {
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $iron-color;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 26px;
  vertical-align: top;
  width: 26px;
}

.contributor-list-item-box::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 3px;
  width: 6px;
}

.contributor-list-item-box::-webkit-scrollbar-thumb {
  background-color: $white-color;
  border-radius: 3px;
  height: 72px;
}

.contributor-list-item-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.contributor-list-item-box:hover::-webkit-scrollbar-thumb {
  background-color: $silver-color;
  border-radius: 3px;
  height: 72px;
}

.contributor-list-user {
  float: left;
  font-size: 12px;
  line-height: 26px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}

.contributor-list-count {
  color: $viking-color;
  float: right;
  font-size: 12px;
  line-height: 26px;
}

.chart-title {
  color: $silver-chalice-color;
  font-size: 12px;
  font-weight: 500;
}

.line-chart {
  margin-left: 10px;
  margin-top: 28px;
}

.chart-box {
  margin-top: 40px;
  padding-bottom: 20px;
}
