<div class="qam-footer-box">
  <div class="qam-footer-row">
  </div>
  <!-- END qam-footer-row -->
  <div class="qa-footer">
    <div class="qa-nav-footer">
      <ul class="qa-nav-footer-list">
      </ul>
      <div class="qa-nav-footer-clear">
      </div>
    </div>
    <div class="qa-footer-clear">
    </div>
  </div>
  <!-- END qa-footer -->
</div>
