<div id="header">
  <div id="header_in" class="clearfix">
    <div class="logo"><a href="http://demo.templatic.com/answers/"><img src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/logo.png" alt="Answers"></a>
    </div>
    <div class="header_right">
    </div>
    <a class="mobile-ask-que" href="https://demo.templatic.com/answers/?ptype=ask-a-question"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
  </div>
</div>
