<div id="qam-topbar" class="clearfix">
  <div class="qam-main-nav-wrapper clearfix">
    <div class="container">
      <div class="sb-toggle-left qam-menu-toggle"><i class="icon-th-list"></i></div>
      <div class="qam-account-items-wrapper">
        <div id="qam-account-toggle" class="qam-logged-out">
          <i class="icon-key qam-auth-key"></i>
          <div class="qam-account-handle">Login</div>
        </div>
        <div class="qam-account-items clearfix">
          <form action="./login?to=" method="post">
            <input type="text" name="emailhandle" dir="auto" placeholder="Email or Username">
            <input type="password" name="password" dir="auto" placeholder="Password">
            <div><input type="checkbox" name="remember" id="qam-rememberme" value="1">
              <label for="qam-rememberme">Remember</label>
            </div>
            <input type="hidden" name="code" value="0-1521461564-e1366987207aea635b7f53af1076ddee7d35c420">
            <input type="submit" value="Login" class="qa-form-tall-button qa-form-tall-button-login" name="dologin">
          </form>
          <div class="qa-nav-user">
            <ul class="qa-nav-user-list">
              <li class="qa-nav-user-item qa-nav-user-register">
                <a href="./register?to=" class="qa-nav-user-link">Register</a>
              </li>
            </ul>
            <div class="qa-nav-user-clear">
            </div>
          </div>
        </div>
      </div>
      <div class="qa-nav-main" style="display: inline-block;">
        <ul class="qa-nav-main-list">
          <li class="qa-nav-main-item qa-nav-main-questions">
            <%= link_to "Questions", questions_path, class: "qa-nav-main-link" %>
          </li>
          <li class="qa-nav-main-item qa-nav-main-tag">
            <%= link_to "Tags", tags_path, class: "qa-nav-main-link" %>
          </li>
          <li class="qa-nav-main-item qa-nav-main-user">
            <%= link_to "Users", users_path, class: "qa-nav-main-link" %>
          </li>
          <li class="qa-nav-main-item qa-nav-main-ask">
            <a href="./ask" class="qa-nav-main-link">Ask a Question</a>
          </li>
          <li class="qa-nav-main-item qa-nav-main-custom-1">
            <a href="./../" class="qa-nav-main-link">About</a>
          </li>
          <li class="qa-nav-main-item-opp">
            <div class="qam-search turquoise ">
              <div class="qa-search">
                <form method="get" action="./search">
                  <input type="text" name="q" value="" class="qa-search-field">
                  <input type="submit" value="Search" class="qa-search-button">
                </form>
              </div>
            </div>
          </li>
        </ul>
        <div class="qa-nav-main-clear">
        </div>
      </div>
    </div>
  </div>
</div>
