<div id="nav">
  <div id="nav_in">
    <div id="main-menu" class="menu menu-secondary">
      <div id="menu-button">Menu</div>
      <div class="menu-menu-container">
        <ul id="menu-menu" class="menu">
          <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-81"><a href="https://demo.templatic.com/answers/">Home</a></li>
          <li id="menu-item-139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-139 has-sub">
            <span class="submenu-button"></span><a href="#">Pages</a>
            <ul class="sub-menu">
              <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="https://demo.templatic.com/answers/about/">About</a></li>
              <li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="https://demo.templatic.com/answers/sample-page/">Sample Page</a></li>
              <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="https://demo.templatic.com/answers/site-map/">Site Map</a></li>
              <li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="https://demo.templatic.com/answers/archive-page/">Archive Page</a></li>
              <li id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146"><a href="https://demo.templatic.com/answers/contact-us/">Contact Us</a></li>
              <li id="menu-item-150" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a href="https://demo.templatic.com/answers/author/admin/">Author Page</a></li>
            </ul>
          </li>
          <li id="menu-item-82" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-82"><a href="https://demo.templatic.com/answers/category/questions/">Questions</a></li>
          <li id="menu-item-86" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86"><a href="https://demo.templatic.com/answers/?ptype=ask-a-question">Ask a Question</a></li>
          <li id="menu-item-83" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-83 has-sub">
            <span class="submenu-button"></span><a href="https://demo.templatic.com/answers/category/blog/">Blog</a>
            <ul class="sub-menu">
              <li id="menu-item-155" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155"><a href="https://demo.templatic.com/answers/category/questions/">Questions</a></li>
              <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-138"><a href="https://demo.templatic.com/answers/where-can-i-find-a-good-free-work-out/">Post Detail Page</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="search">
      <form method="get" id="searchform" action="https://demo.templatic.com/answers">
        <input type="text" value="Find a Question" name="s" id="s" class="textfield" onfocus="if (this.value == 'Find a Question') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Find a Question';}">
        <input type="image" class="b_search" src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/b_search.png" alt="Submit button">
      </form>
    </div>
  </div>
</div>
